main {
    background-image: url(../media/img/background.png);
    min-height: 93vh;
    margin:0px 40px 0px 40px;

}

main h2 {
    font-family: 'Press Start 2P', cursive;
    color: white;
    position: absolute;
    margin-top: 300px;
    margin-left: 250px;
    font-size: 3.0em;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 60px -16px black;
    padding: 20px;
    letter-spacing: 2px;
    line-height: 60px;
}

main #button {
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    margin-top: 500px;
    margin-left: 430px;
    padding: 7.5px;
    font-size: 3em;
    text-decoration: none;
    color: lightblue;
    border: solid 3px white;
}

main #button:hover {
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(29,0,255,1) 0%, rgba(255,8,8,1) 25%, rgba(26,255,0,1) 50%, rgba(255,231,0,1) 75%, rgba(255,0,236,1) 100%);;
}

#deux {
    color: orangered
}

#trois {
    color: green
}

#quatre {
    color: yellow
}

#cinq {
    color: fuchsia
}

.slide-right {
    -webkit-animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    margin-left: -60px
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 1s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    position: absolute;
    margin-top: -65px;
    margin-left: 90px; 
  }
  @-webkit-keyframes flash {
  0%, 50%, 100% {
  opacity: 1;
  }
  
  25%, 75% {
  opacity: 0;
  }
  }
  
  @keyframes flash {
  0%, 50%, 100% {
  opacity: 1;
  }
  
  25%, 75% {
  opacity: 0;
  }
  } 
×
